@if (false)
{
    <script type="text/javascript" src="../../Scripts/underscore.js" />
}

<script type="text/javascript">
    $(function () {
        var even = _.find([1, 2, 3, 4, 5, 6], function (num) { return num % 2 == 0; });
        console.log("even= " + even);

        var arr = [1, 2, 3, 4, 5, 6];
        var odd = _.find(arr, function (num) { return num % 2 == 1; });
        console.log("odd= " + odd);

        var objArr = [{ "name": "aaa", "address": "seoul" }, { "name": "bbb", "address": "incheon" }, { "name": "ccc", "address": "pusan"}];
        var aaa = _.find(objArr, function (obj) { return obj.name == "aaa" });
        console.log("aaa= " + aaa.name + ", " + aaa.address);
    });
</script>

<button id="test">test</button>