@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test8</title>
</head>
<body>
    <div>
        Module Pattern        
    </div>

    <script>
        var GEHCIT = GEHCIT || {};
        GEHCIT.model = GEHCIT.model || {};

        GEHCIT.model.user = (function () {
            var name = 'khj';
            var getName = function(){ return name;}
            return {getName: getName}
        })();

        GEHCIT.model.person = function () {
            this.take = function () { };
            var say = function () {
                var name = GEHCIT.model.user.getName();
                alert('say ' + name);
            };

            return {
                saySomething: say
            }
        }();
        
        GEHCIT.model.person.saySomething();
//        var p = new GEHCIT.model.person();
//        p.saySomething();
        
    </script>
</body>
</html>
