@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test17</title>
</head>
<body>
    <div>
        
    </div>

    <script>

        var foo = (function() {
            
        } ());

        console.log(foo.name);
    </script>
</body>
</html>
