<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="BackboneTest.ServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="BackboneTest.Service">
                <endpoint address="" behaviorConfiguration="BackboneTest.ServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="BackboneTest.Service" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
