@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <p>
        Authenticated</p>
}
else
{
    <p>
        NOT Authenticated</p>
}
@{
    @*if (Request.Cookies["commenter"] != null)
    {
        string clientCookieValue = Request.Cookies["commenter"].Value;
        if (!string.IsNullOrEmpty(clientCookieValue))
        {
    <p>@clientCookieValue</p>
        }
    }*@
    
    
        string clientCookieValue = Request.Cookies.Get("commenter") != null ? Request.Cookies.Get("commenter").Value : null;
        if (!string.IsNullOrEmpty(clientCookieValue))
        {
            <p>@clientCookieValue</p>
        }
}
