.sidebar-nav
{
    padding: 19px 0 0 0;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

/*!
.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}
*/

.validation-summary-valid
{
    display: none;
}

/* for masonry item */

.masonrybox
{
    width: 225px;
    margin: 10px;
    float: left;
}

/*
.shadow {
-moz-box-shadow: 6px 6px 8px #888;
-webkit-box-shadow: 6px 6px 8px #888;
box-shadow: 0 2px 4px 4px #bcbbb9;*/
/* For IE 8 */
/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
/* For IE 5.5 - 7 */
/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
*/

.shadow
{
    background: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #666666;
    -moz-box-shadow: 0 0 5px #666666;
    box-shadow: 0 0 5px #666666;
}

/* space for line number column width in google-code-prettify */
ol.linenums
{
    padding-left: 12px;
}

@font-face
{
    src: url(VeraMono.ttf);
    font-family: "Bitstream Vera Sans Mono";
}

a:hover
{
    text-decoration: none;
}

/* patient-box */
.patient-box
{
    cursor: pointer;
    padding: 10px;
}

.patient-box:hover
{
    background-color: #eaeaea;
    border: 1px dot-dash #000;
    box-shadow: 0 2px 2px 2px #bcbbb9;
}

.selected-patient
{
    background-color: #eaeaea;
    border: 1px dot-dash #000;
    box-shadow: 0 2px 2px 2px #abaea6;
}
/* patient-box */

.page-sub-header {
  padding-bottom: 1px;
  margin: -10px 0;
  border-bottom: 1px solid #eeeeee;
}

[class*="span"].patient-detail 
{
 margin-left:3px;   
}