
.ui-tabs {
    padding:0px;
    border:solid 1px #5fa8b8;
    border-top:0;
    border-left:0;
    border-right:0;
    
}

.ui-tabs-nav {
    background: white;
    border:solid 0px !important;
    padding-left:0px !important;
    
}

    .ui-tabs-nav li {
        background: #96cad5 !important;
        margin-bottom:1px !important;    
        width:120px;
        border-top-right-radius:6px;
        border-top-left-radius:6px;
    }

        .ui-tabs-nav li a {
        }

.ui-tabs-selected {
    margin-bottom:-10px !important;    
}

.ui-tabs-panel {
    background: #96cad5 !important;
    border-left:solid 1px #5fa8b8 !important;
    border-right:solid 1px #5fa8b8 !important;
    border-top:solid 1px #96cad5 !important;
    border-top-right-radius:6px;
}

/*.my-content {
    margin:0;
    padding:0;
}

.mytable {
    font-size: 10px;
    color: white;
}

    .mytable ul {
        list-style: none;
    }

        .mytable ul li {
            float: left;
            width:100px;
        }*/