@{
    ViewBag.Title = "About Us";
}
<button id="ajaxCall">
    Ajax Call</button>
    

<script>
    $(function () {
        $("#ajaxCall").click(function () {

            $.ajax(
                {
                    url: "GetMessage",
                    type: "GET",
                    success: function (result) {
                        //alert(result);
                        $("html").fadeOut("slow");
                    }
                }
            );
        });
    });


</script>
