@if(false){
    <script src="../../Scripts/jquery-1.7.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../Scripts/knockout-2.1.0.debug.js"></script>
}
@{
    ViewBag.Title = "Fifth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Fifth</h2>
<ul data-bind="foreach: people">
    <li data-bind="text: Name"></li>
</ul>

@section Script{
    <script>
        var service = new function () {
            var getPeople = function (callback) {
                $.ajax({
                    async: true,
                    url: "GetPeople",
                    cache: false,
                    type: "GET",
                    success: function (result) { console.log('ajax getPeople method called'); callback(result); }
                });
            };

            var test = function (callback) {
                callback();
            };

            return { invokePeople: getPeople, test:test };

        } ();
        
        function ViewModel() {
            var self = this;
            
            // data
            self.people = ko.observableArray([]);
            console.log('a');
            service.invokePeople( self.people);
            console.log('b');
        }
        
        ko.applyBindings(new ViewModel());
    </script>
}
