@{
    ViewBag.Title = "Second";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul data-bind="foreach: people">
    <li>
        <input type="text" data-bind="value:name"></input>
        <span data-bind="text:name"></span><span data-bind="text:address"></span></li>
</ul>
<button data-bind="click:save">Save</button>

@section Script{
    <script>

        function Person(name, address) {
            var self = this;

            self.name = ko.observable(name);
            self.address = ko.observable(address);
        }

        function ViewModel() {
            var self = this;
            self.people = [
                new Person("Kwon HJ", "Incheon"),
                new Person("Lee SJ", "Seoul"),
                new Person("Park JS", "London")
            ];

            self.save = function() {
                var vm = "";
                for (var i in self.people) {
                    vm += self.people[i].name() + " " + self.people[i].address() + '\r\n';
                }
                alert(vm);
            };

            ko.observableArray(self.people);
        }

        ko.applyBindings(new ViewModel());
    </script>
}