@{
    ViewBag.Title = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span2" style="border-color:Black;border-width:1px">
        <!--Sidebar content-->ggggg
    </div>
    <div class="span10">
        <!--Body content-->
    </div>
</div>
