@{
    ViewBag.Title = "Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span2" >
        <div class="well">side</div>
    </div>
    <div class="span10" >
        <div class="well">Body content</div>
    </div>
</div>
