@{
    ViewBag.Title = "Prettify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Prettify/Themes/sons-of-obsidian.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {
        prettyPrint();
    });
</script>


<h2 class="page-header">Prettify</h2>

<p>For example, <code>section</code> should be wrapped as inline.</p>

<pre class="prettyprint linenums ">
&lt;form class="well"&gt;
  &lt;label&gt;Label name&lt;/label&gt;
  &lt;input type="text" class="span3" placeholder="Type something…"&gt;
  &lt;span class="help-inline"&gt;Associated help text!&lt;/span&gt;
  &lt;label class="checkbox"&gt;
    &lt;input type="checkbox"&gt; Check me out
  &lt;/label&gt;
  &lt;button type="submit" class="btn"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</pre>

<pre class="prettyprint linenums">
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            ViewBag.Message = "MVC + Bootstrap = POWER!!";

            return View();
        }

        public ActionResult About()
        {
            return View();
        }

        public ActionResult Masonry()
        {
            return View();
        }

        public ActionResult Carousel()
        {
            return View();
        }

        public ActionResult Prettify()
        {
            return View();
        }
    }
</pre>

<pre class="prettyprint linenums lang-cc">
x = 1+1;
# something something
</pre>
