@{
    ViewBag.Title = "DynamicLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="div-left" class="span3" >
    <div class="well">
        <p>
            <i id="left" class="icon-resize-full"></i>
            side
        </p>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit
            non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
            malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
            sed odio dui.
        </p>
    </div>
</div>

<div id="div-body"class="span9" >
    <div id="div-top" class="well" >
        <p>
            <i id="top" class="icon-resize-full"></i>
            Top
        </p>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit
            non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
            malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
            sed odio dui.
        </p>
    </div>
    <div id="div-middle" class="well" >
        <p>
            <i id="middle" class="icon-resize-full"></i>
            Body
        </p>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit
            non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
            malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
            sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit
            non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
            malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida
            at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
            euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec
            sed odio dui.
        </p>
    </div>
</div>


<script>
    var isMiddleClicked = false;
    var topHeight = $("#div-top").height();
    var topHeightChanged = topHeight * 0.7;
    var middleHeight = $("#div-middle").height();
    var middleHeightChanged = middleHeight * 1.3;
//    var divLeftWidth1 = $("#div-left").width();
//    var divBodyWidth1 = $("#div-body").width();

    $(function () {
        $("#middle").click(function () {
            if (!isMiddleClicked) {
                isMiddleClicked = true;

                $("#div-left").removeClass('span3');
                $("#div-left").addClass('span2');

                $("#div-body").removeClass('span9');
                $("#div-body").addClass('span10');

                //$("#div-top").height(topHeightChanged);
                //$("#div-middle").height(middleHeightChanged);
            } else {
                isMiddleClicked = false;

                $("#div-left").removeClass('span2');
                $("#div-left").addClass('span3');

                $("#div-body").removeClass('span10');
                $("#div-body").addClass('span9');

                //$("#div-top").height(topHeight);
                //$("#div-middle").height(middleHeight);
            }
        });
    });
</script>
