@{
    ViewBag.Title = "First";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <label data-bind="text:firstName"></label>
    <input type="text" data-bind="value:firstName"/>
</p>

<p>
    <label data-bind="text:lastName"></label>
    <input type="text" data-bind="value:lastName"/>
</p>

<p>
    <label data-bind="text:fullName"></label>
</p>

<script>
    function ViewModel(){
        var self = this;
        
        self.firstName = ko.observable("KWON");
        self.lastName = ko.observable("HYOJUNG");
        self.fullName = ko.computed(function () {
            return self.firstName() + " " + self.lastName();
        });
    };

    ko.applyBindings(new ViewModel());
    
</script>
