<script src="@Url.Content("~/Scripts/knockout-2.1.0.debug.js")" type="text/javascript"></script>

<select data-bind="options: tickets,
                   optionsCaption: 'Choose',
                   optionsText: 'name',
                   value: chosenTicket">
</select>

<button data-bind="enable: chosenTicket,
                   click: resetTicket">Clear</button>
                   
<script>
    function TicketsViewModel() {
        this.tickets = [
            { name: "Economy", price: 199.45 },
            { name: "Business", price: 449.22 },
            { name: "First Class", price: 1199.99 }
        ];
        this.chosenTicket = ko.observable();
        this.resetTicket = function() { this.chosenTicket(null)}
    }

    ko.applyBindings(new TicketsViewModel());

</script>