

<select data-bind="options: tickets,
                   optionsCaption: 'Choose',
                   optionsText: 'name',
                   value: chosenTicket">
</select>

<button  data-bind="enable:chosenTicket, click: resetTicket">Clear</button>
                   
<p data-bind="with: chosenTicket, click: resetTicket">
    선택한 티켓은 <b data-bind="text: name"></b> 이며 가격은 <b data-bind="text: price"></b> 입니다
</p>
                   
<script>
    function TicketsViewModel() {
        this.tickets = [
            { name: "Economy", price: 199.45 }, 
            { name: "Business", price: 449.22 },
            { name: "First Class", price: 1199.99 }
        ];
        this.chosenTicket = ko.observable();
        this.resetTicket = function () { this.chosenTicket(null); };
    }

    ko.applyBindings(new TicketsViewModel());

</script>