@if(false){
    <script src="../../Scripts/knockout-2.1.0.debug.js" type="text/javascript"></script>
    <script src="../../Scripts/infuser.js" type="text/javascript"></script>
}

@{
    ViewBag.Title = "TemplateTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TemplateTest</h2>

<ul data-bind="template:{name:'person', foreach: people}">    
</ul>


@*<script id="person-template" type="text/html">
    <li><spand data-bind="text:name"></spand></li>
</script>*@



@section Script{
@*<script src="../../Scripts/koExternalTemplateEngine_all.js" type="text/javascript"></script>*@
<script>
    $(function () {

        //infuser.defaults.templateSuffix = "";

        function ViewModel() {
            var self = this;

            self.showMessage = function () { alert('aa') };
            self.personTemplate = ko.observable('person');
            self.people = [
             { name: 'Franklin', credits: 250 },
             { name: 'Mario', credits: 5800 }
         ]
        };

        ko.applyBindings(new ViewModel());
    });
</script>
}