@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test12</title>
    <style>
        .wrapper {
            width: 500px;
            height:100px;
            border:2px solid;
        }

        .content-1 {
            background: yellow;
            width:90px;
            height:50px;
            float:left;
        }

        .content-2 {
            background: red;
            width: 100px;
            height:50px;
            float:right;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content-1"></div>
        <div class="content-2"></div>
    </div>
</body>
</html>
